:root {
  --primary-color: #8750f7; /* Define your primary color */
  --secondary-color: #2a1454; /* Define your secondary color */
  --primary-color-light: #b085f7; /* Define a light variant of your primary color */
  --body-color: #141321; /* Define your body text color */
  
}


body {
  background: linear-gradient(180deg, #0f0c29,  #302b63, #0f0c29);
  /* background: #c73535; */
  color: var(--body-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--secondary-color);
}

section {
  padding: 60px 0;
}

h1 {
  color: var(--primary-color);
}


@media (max-width: 992px) {
  .navbar-collapse {
    flex-direction: column;
  }
}


/* *****NavBar***** */

/* Add hover effect for nav links */
.nav-link {
  position: relative;
  color: #fff !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #0dcaf0; /* Light blue on hover */
}

/* Underline effect for active section link */
.nav-link.active-link::after {
  content: '';
  position: absolute;
  bottom: -5px; /* Distance from the text */
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0dcaf0; /* Light blue underline */
  transition: width 0.8s ease;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.5s ease;
}

.nav-link:hover::after {
  width: 100%; /* Full underline on hover */
  background-color: #0dcaf0;
}



.bg-body-tertiary {
  background: linear-gradient(180deg, #302b63,   #302b63);
  /* border-bottom: 1px solid #230055; */
}

.bg-body-tertiary .nav-link {
  color: #fff; /* Adjust link color to stand out */
}

.bg-body-tertiary .nav-link:hover {
  color: #f0a500; /* Optional: Add hover effect */
}

.bg-body-tertiary::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150px; /* Start off-screen */
  width: 150px;
  height: 100%;
  background: linear-gradient(93deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  opacity: 0.3;
  transform: skewX(-60deg);
  animation: shine 3s linear infinite; /* Adjust duration for speed */
}

@keyframes shine {
  0% {
    left: -150px; /* Start off-screen on the left */
  }
  100% {
    left: 100%; /* Move to off-screen on the right */
  }
}